Source: netcheck
Section: parkbench
Priority: required
Maintainer: eviljoel, Emily Frost
Build-Depends: debhelper
Standards-Version: 3.9.6.1

Package: netcheck
Architecture: all
Depends: adduser (>= 3.11),parkbench-common (>= 0.8),network-manager,python3-daemon,python3-dnspython,python3-networkmanager,python3-prctl,python3-pyroute2
Description: Finds the best network connection with access to the Internet.
