# netcheck.conf.example
# Example configuration for netcheck.

[General]

log_file=/var/log/netcheck.log
log_level=info

# Comma delimited list of NetworkManager connection names listed in priority order.
connection_ids=

# Comma delimited list of DNS servers to use. Pick your own servers here to help
#   prevent fingerprinting of this application.
nameservers=

# Comma delimited list of domains to query for. Again, pick your own domains here
#   to help prevent fingerprinting of this application.
dns_queries=

# Maximum amount of time in seconds for a DNS query lookup.
dns_timeout=2

# Maximum amount of time in seconds to wait to activate a connection.
connection_activation_timeout=15

# Maximum sleep time between each loop iteration. (Cannot be negative.)
sleep_range=10

# Some ISPs have minimum usage requirements (like FreedomPop). This is a comma delimited list
#   of connection IDs that netcheck will periodically connect to to ensure their associated
#   ISP accounts do not become deactivated.
required_usage_connection_ids=

# Maximum delay in days before attempting to use the 'required usage' connections. (Cannot be
#   negative.)
required_usage_max_delay=14

# Maximum delay in seconds before attempting to retry the 'required usage' connections if
#   prior attempts failed. (Cannot be negative.)
required_usage_failed_retry_delay=3600
