# netcheck.conf.example
# Example configuration for netcheck.

[General]

log_file=/var/log/netcheck.log
log_level=info

# The name of the wired connection in NetworkManager.
wired_connection_id=

# Comma delimited list of NetworkManager wireless connection names to use ordered by
#   preference. The first wireless connection is considered the 'backup' connection which is
#   activated periodically to maintain an active account. (See below.)
wireless_connection_ids=

# Comma delimited list of DNS servers to use. Pick your own servers here to help
#   prevent fingerprinting of this application.
nameservers=

# Comma delimited list of domains to query for. Again, pick your own domains here
#   to help prevent fingerprinting of this application.
dns_queries=

# This is not currently used.
# TODO: Use this or remove it. (issue 6)
backup_connection_id=

# Maximum amount of time in seconds for a DNS query lookup.
dns_timeout=2

# Maximum amount of time in seconds to wait to activate a connection.
connection_activation_timeout=15

# Maximum delay in days before attempting to use the backup connection to maintain an active
#   account with the backup ISP. (This is a requirement from the developers' ISP
#   [FreedomPop].) (Cannot be negative.)
backup_connection_usage_max_delay=14

# Maximum delay in seconds before attempting to reactivate the backup connection if
#   the first attempt (and subsequent attempts) failed. (Cannot be negative.)
backup_connection_failed_usage_max_delay=3600

# Maximum sleep time between each loop iteration. (Cannot be negative.)
sleep_range=60
